.PinCode {
  border: 1px solid #817d7d;
  border-radius: 5px;
  width: 270px;
  padding: 10px 0;
}

.PinCode-body {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
}