.PinCodeDisplay {
  height: 70px;
  padding: 40px;
  margin: 0 10px 10px;
  border: 1px solid #817d7d;
  background-color: #f6f3f3;
}

.PinCodeDisplay-password {
  font-size: 30px;
  line-height: 1;
  color: black;
  margin: 10px 0 0;
}

.PinCodeDisplay-message {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}